.MenuListaNavbar{
    background-image: url('../images/depositphotos_240785076-stock-photo-handmade-pink-orange-yellow-watercolor.jpg');
    
}
.fondo{
    background-image: url('../images/depositphotos_476931382-stock-photo-watercolor-background-illustration-abstract-painting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.item{
    
    margin: 1em;
    padding: 1em;
    float: left;
    height: 80%;
    width: 70%;
    
}

.margen{
   margin: 2em 2em 2em 2em;
}
#margen{
    margin: 1em;
}

.space{
    width: 100%;
}

.modal{
    display:flow-root;
    
}
